.login-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('../../image/colorBG.jpg');
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.test-div {
    display: grid;
    align-items: center;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

@media screen and (max-width: 1000px) {
    .login-page {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-image: url('../../image/colorBG.jpg');
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .test-div {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 25px;
    }
}